.c-button{
    transition: all 0.2s 0s linear;
    &:hover{
        transform: translate(0 , 0.3rem);
        cursor: pointer;
    }
    &--small{
        height: 2.5rem;
        width: 8rem;
        border-radius: 10rem;
        font-size: $font-size_s;

    }
    &--large{
        height: 5rem;
            width: 20rem;
            border-radius: 10rem;
            font-size: $font-size_l;
    }
    &--mainBlue{            
        border: none;      
        background-image: linear-gradient(160deg,#54c2f9,#1e88f5);
        color: #fff;
        box-shadow: 0 0.7rem 0.9rem #aae3ff;       
        &:hover{
            box-shadow: 0 0.3rem 0.5rem #aae3ff;
        }
    }
    &--white{            
        border: none;      
        background-color: #fff;
        color: $font-color_default;
        box-shadow: 0px 5px 12px #CAD4E2;   
        &:hover{
            box-shadow: 0 0 4px #CAD4E2;
        }
    }
    &--like{
        border: none;      
        background-image: linear-gradient(160deg, #ec67f8,#f29cfa);
        color: #fff;
        box-shadow: 0 0.7rem 0.9rem #fad3fd;
        &:hover{
            box-shadow: 0 0.3rem 0.5rem #fad3fd;
        }
    }
    &--pushed{
        transform: translate(0 , 0.3rem);
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid $border-color_default;
        position: relative;
        top: 0.13rem;
        color: $font-color_default;
    }
}