
.u-bgColor{
    &--transparent{
        background-color: transparent;
    }
    &--white{
        background-color: white;
    }
    &--mainBlue{
        background-color: #1e88f5;
        &--gradient{
            background-image: linear-gradient(160deg,#54c2f9,#1e88f5) !important;
        }
    }
    &--lightBlue{
        background-color: #54c2f9;
        &--gradient{
            background-image: linear-gradient(160deg,#a1e0ff,#54c2f9) !important;
        }
    }
    &--like{
        background-color: #fff3f3;
    }
    &--retweet{
        background-color: #f3fff3;
    }
    &--reply{
        background-color: #f3f3ff;
    }
    &--lightCoral{
        background-color: #ffa3d1;
        &--gradient{
            background-image: linear-gradient(to bottom right,  lightcoral, #fecfef);
            &--reverse{
                background-image: linear-gradient(to bottom right, #fecfef, #ff9a9e);
            }
        }
    }
    &--lightSalmon{
        background-color: #ffa3a3;
        &--gradient{
            background: linear-gradient(to bottom right, #ffa3d1, #ffd5ea);
        }
    }
    &--orange{
        background-color: #ffcfa3;
        &--gradient{
            background: linear-gradient(to bottom right, #ffa3d1, #ffd5ea);
        }
    }
    &--greenYellow{
        background-color: #d4ffa3;
        &--gradient{
            background: linear-gradient(to bottom right, #ffa3d1, #ffd5ea);
        }
    }
    &--mediumSeaGreen{
        background-color: #a3ffc5;
        &--gradient{
            background: linear-gradient(to bottom right, #ffa3d1, #ffd5ea);
        }
    }
    &--lightSeaGreen{
        background-color: #a3f0ff;
        &--gradient{
            background: linear-gradient(to bottom right, #72e7ff, #c7f6ff);
        }
    }
}