.u-color{
    &--mainBlue{
        color: #1e88f5;// #54c2f9;
    }
    &--white{
        color: #ffffff;
    }
    &--retweet{
        color: #86fc72;
    }
    &--like{
        color: #ec67f8;
    }
}