.p-front_header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px #cacaca;
    &__logo{
        float: left;
        width: 200px;
        box-sizing: border-box;
        margin-left: 20px;
        @include mq(){
            width: 40%;
            margin-left: 10px;
        }
        
    }
    &__nav{
        margin-right: 20px;
        font-size: $font-size_l;
        & > ul > li{
            float: right;
            margin-left: 20px;
            & > a:hover{
                cursor: pointer;
            }
        }
    }
    &__signup{
        text-decoration: underline;
        text-underline-offset: .1em;
        position: relative;
        top: .7rem;
        color: $font-color_dark;
    }
}